.mainContainer {
  height: 100vh;
  background-color: aliceblue;
}

.wrapper {
  position: relative;
  padding-top: 5rem;
}

.board {
  margin: auto;
  height: 450px;
  width: 450px;
  background-color: azure;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  height: 150px;
  width: 150px;
  border: 5px solid black;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 55px;
  margin-bottom: 0px;
}

.ticSpan {
  position: relative;
  top: 40%;
  font-size: 60px;
}
